body {
    background-color: hsl(217, 54%, 11%);
}

#NFT {
    background-color: hsl(216, 50%, 16%);
    height: 585px;
    width: 335px;
    margin: auto;
    border-radius: 17px;
    position: relative;
    top: 95px;
}

.equil img {
    height: 300px;
    width: 300px;
    padding: 18px 18px;
    border-radius: 34px;
}

.ethereum {
    color: hsl(178, 100%, 50%);
}

.clock {
    color: hsl(215, 51%, 70%);
}

h1 {
    color: white;
    font-size: larger;
}

p {
    color: hsl(215, 51%, 70%);
    font-size: large;
}

.line {
    height: 1px;
    width: 89%;
    background: hsl(215, 32%, 27%);
    margin: auto;
    position: relative;
    top: 21px;
}

.edit1 {
    padding: 0px 16px;
    top: -15px;
    margin-top: 5px;
}

.edit2 {
    position: relative;
    left: 85px;
    top: 0px;
}

.edit3 {
    position: relative;
    top: -3px;
    padding: 0px 5px;
    font-weight: 600;
}

.edit4 {
    position: relative;
    top: -12px;
    padding-left: 6px;
    color: hsl(215, 51%, 70%);
    font-weight: 700;
}

.edit5 {
    padding: 0px 16px;
    margin-top: 5px;
}

.edit6 {
    position: relative;
    top: -12px;
    color: white;
    font-weight: 600;
}

.avatar {
    position: relative;
    top: 36px;
}

.avatar img {
    border: 2px solid white;
    height: 31px;
    width: 31px;
    border-radius: 19px;
}

.font {
    font-family: 'Outfit', sans-serif;
}